<div class="center">

    <div id="hln">
        <h1 big-heading>Sign Up</h1>
        <h3 style="text-align: left;">Welcome to Bookstore...</h3>
    </div>

    <form #form="ngForm" (ngSubmit)="signUp(form)">

        <mat-form-field appearance="outline" class="input-field">
            <mat-label style="display:inline-flex;" class="iconSize">
                <mat-icon [inline]="true">assignment_ind</mat-icon>
                Name &nbsp;&nbsp;
            </mat-label>
            <input [(ngModel)]="UserDataToUpload.firstName" name="name" type="text" matInput autocomplete="off" ngModel
                required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
            <mat-label style="display:inline-flex;" class="iconSize">
                <mat-icon [inline]="true">assignment_ind</mat-icon>
                Surname &nbsp;&nbsp;&nbsp;
            </mat-label>
            <input [(ngModel)]="UserDataToUpload.lastName" type="text" name="surname" matInput autocomplete="off"
                ngModel required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
            <mat-label style="display:inline-flex;" class="iconSize">
                <mat-icon [inline]="true">email</mat-icon>
                Email &nbsp;&nbsp;
            </mat-label>
            <input [(ngModel)]="UserDataToUpload.email" name="email" type="text" matInput autocomplete="off" ngModel
                required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
            <mat-label style="display:inline-flex;" class="iconSize">
                <mat-icon [inline]="true"> vpn_key</mat-icon>
                Password &nbsp;&nbsp;&nbsp;
            </mat-label>
            <input type="password" name="password" matInput autocomplete="off" ngModel required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
            <mat-label style="display:inline-flex;" class="iconSize">
                <mat-icon [inline]="true">location_on</mat-icon>
                Address &nbsp;&nbsp;
            </mat-label>
            <input [(ngModel)]="UserDataToUpload.address" name="address" type="text" matInput autocomplete="off" ngModel
                required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
            <mat-label style="display:inline-flex;" class="iconSize">
                <mat-icon icon-small [inline]="true">pin_drop</mat-icon>
                Postcode &nbsp;&nbsp;&nbsp;
            </mat-label>
            <input min="0" [(ngModel)]="UserDataToUpload.postcode" type="number" name="postalcode" matInput
                autocomplete="off" ngModel required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
            <mat-label style="display:inline-flex;" class="iconSize">
                <mat-icon [inline]="true">flag</mat-icon>
                Gemeente &nbsp;&nbsp;
            </mat-label>
            <input [(ngModel)]="UserDataToUpload.gemeente" type="text" name="country" matInput autocomplete="off"
                ngModel required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
            <mat-label style="display:inline-flex;" class="iconSize">
                <mat-icon [inline]="true">calendar_today</mat-icon>
                Birthday &nbsp;&nbsp;
            </mat-label>
            <input [(ngModel)]="UserDataToUpload.gebdatum" type="date" name="gebdatum" matInput autocomplete="off"
                ngModel required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
            <mat-label style="display:inline-flex;" class="iconSize">
                <mat-icon [inline]="true">wc</mat-icon>
                Gender &nbsp;&nbsp;
            </mat-label>

            <mat-select [(ngModel)]="UserDataToUpload.gender" (ionChange)="onChange(UserDataToUpload.gender)"
                interface="dropdown" placeholder="Gender" name="gender" ngModel required>
                <mat-option value="female">Female</mat-option>
                <mat-option value="male">Male</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="submitButton">


            <p-button label="Sign up" class="submitButton2" type="submit" (click)="PostNewUserData()"
                [disabled]="form.invalid" tappable></p-button>


            <p-button label="Login?" class="link-button" routerLink="/login"></p-button>


        </div>
        <div linespace></div>
    </form>
</div>
<p></p>