<div class="parent">

    <mat-toolbar class="mat-elevation-z4">
        <span>
            <mat-icon>book</mat-icon>Bookstore
        </span>
        <div class="spacer"></div>
        <a mat-button>Home</a>
        <a mat-button>Books</a>
        <a mat-button>Authors</a>
        <a mat-button>Profile</a>
        <a mat-button>API Manager</a>

    </mat-toolbar>


    <div class="title">
        <div class="text">WELCOME TO BOOKSTORE
            <div class="matbut">
                <button mat-raised-button>Search some books</button>
            </div>
        </div>
    </div>
</div>